*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
    color: #fff;
}

.dbox{
    height: 300px;
    text-align: center;
    padding-top: 60px;
}

.dbox2{
    height: 300px;
    text-align: center;
    padding-top: 80px;
}

.dbox3{
    text-align: center;
    padding-top: 80px;
	padding-bottom: 40px;
	/* padding: auto; */
}

.col-md-6-5{
    width: 54.16666666%;
}

.col-md-5-5{
    width: 45.8333315%;
}


.cta-section{
    background: url(images/yash.jpg) center/cover no-repeat;
    height: 500px;
    /* background-repeat: no-repeat; */
    position: relative;
    overflow: hidden;
    padding: 100px 30px;
    background-size: cover;
    margin-top: 100px;
}

.background-overlay{
    background: linear-gradient(to right,rgb(100,75,70)0%,rgba(120,90,80,.7)100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cta-content{
    z-index: 1;
    position: relative;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}



h2{
    font-size: 50px;
    letter-spacing: 2px;
    font-family: "Permanent Marker";
    margin: 15px 0;
}

p{
    line-height: 24px;
}

.cta-btn{
    padding: 18px 40px;
    line-height: 21px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    background: #F96700;
    text-transform: uppercase;
    display: block;
}

.btn-holder{
    float: right;
}

.cta-col{
    margin-bottom: 15px;
    width: 100%;
    float: left;
	/* border: 1px solid white; */
}

@media (min-width:768px){
    .cta-content{
        text-align: left;
    }
    .cta-col{
        min-height: 200px;
    }
    .col_1{
        width: 60%;
    }
    .col_2{
        width: 40%;
    }
}

.col_2{
    display: flex;
    align-items: center;
    justify-content: center;
}



.carousel{
    background-color: rgb(233, 217, 220);
    opacity: 0.8;
    margin-top: 50px;
    margin-bottom: 40px;
}

.carousel-inner{
    height: 430px;
}

.carousel-caption{
    color:black;
    top: 60%;
}

.carousel-caption h4{
    padding-top: 30px;
    font-weight: bold;
    color: black;
}

.quote{
    color: black;
    padding-top: 80px;
    width: 75%;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}




@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
} */

body {
	/* height: 100vh; */
	display: grid;
	/* align-items: center; */
	font-family: 'Poppins', sans-serif;
}

.contact-wrap {
	/* width: 80%; */
    width: 100%;
	height: auto;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
    margin-bottom: 60px;
}

.contact-in {
	padding: 40px 30px;
}

.contact-in:nth-child(1) {
	flex: 30%;
	background: url(images/1.jpg);
	color: #fff;
}

.contact-in:nth-child(2) {
	flex: 45%;
	background: #333;
	/* background: violet; */
}

.contact-in:nth-child(3) {
	flex: 25%;
	padding: 0;
}

.contact-in h1 {
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 20px;
}

.contact-in h2 {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 15px;
}


.sub-btn{
	width: 100px;
	border-radius: 10px;
	height: 30px;
	background-color: orange;
	font-size: 15px;
	/* margin-left: 40px; */
}

.contact-in input{
	border-radius: 10px;
	height: 30px;
	width:150px;
	margin-bottom: 10px;
	text-align: center;
}

.email-box{
	display: flex;
	flex-direction: column;
}

.contact-in h2 i {
	font-size: 16px;
	width: 40px;
	height: 40px;
	margin-right: 10px;
	background: #f5f5f5;
	color: #000;
	border-radius: 50px;
	line-height: 40px;
	text-align: center;
}

.contact-in p {
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 20px;
	color: white;
}

.contact-in ul {
	padding: 0;
	margin: 0;
}

.contact-in ul li {
	list-style: none;
	display: inline-block;
	margin-right: 5px;
	margin-top: 5px;
}

.contact-in ul li a {
	display: block;
	width: 30px;
	height: 30px;
	text-align: center;
	background: #fff;
	border-radius: 50px;
}

.contact-in ul li a i {
	font-size: 14px;
	line-height: 30px;
	color: #000;
}

.contact-in form {
	width: 100%;
	height: auto;
}


.contact-in-input {
	width: 100%;
	height: 40px;
	margin-bottom: 20px;
	border: 1px solid #fff;
	outline: none;
	padding-left: 5px;
	background: transparent;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
}

.contact-in-input::placeholder {
	color: #fff;
}


.contact-in-textarea {
	width: 100%;
	height: 140px;
	margin-bottom: 20px;
	border: 1px solid #fff;
	outline: none;
	padding-top: 5px;
	padding-left: 5px;
	background: transparent;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
}

.contact-in-textarea::placeholder {
	color: #fff;
}


.contact-in-btn {
	width: 100%;
	height: 40px;
	border: 1px solid #fff;
	outline: none;
	background: transparent;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
	cursor: pointer;
}


.contact-in iframe {
	width: 100%;
	height: 100%;
}

@media only screen and (max-width:480px) {
	.contact-in:nth-child(1) {
		flex: 50%;
	}

	.contact-in:nth-child(2) {
		flex: 50%;
	}

	.contact-in:nth-child(3) {
		flex: 100%;
	}

}

@media only screen and (max-width:360px) {
	.contact-in:nth-child(1) {
		flex: 50%;
	}

	.contact-in:nth-child(2) {
		flex: 50%;
	}

	.contact-in:nth-child(3) {
		flex: 100%;
	}

}
